<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>0</string>
		<key>name_jp</key>
		<string>アッシュ・クリムゾン</string>
		<key>name_en</key>
		<string>Ash Climson</string>
		<key>name_short</key>
		<string>Ash</string>
		<key>style</key>
		<string>我流</string>
		<key>age</key>
		<string>16</string>
		<key>birth</key>
		<string>2/14</string>
		<key>origin</key>
		<string>フランス育ち？</string>
		<key>height</key>
		<string>178cm</string>
		<key>weight</key>
		<string>59kg</string>
		<key>blood</key>
		<string>O</string>
		<key>3size</key>
		<string>不明</string>
	</dict>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>name_jp</key>
		<string>エリザベート・ブラントルシュ</string>
		<key>name_en</key>
		<string>Elisabeth Branctorche</string>
		<key>name_short</key>
		<string>Elisabeth</string>
		<key>style</key>
		<string>ブラン流格闘術＋光拳術</string>
		<key>age</key>
		<string>27</string>
		<key>birth</key>
		<string>1/11</string>
		<key>origin</key>
		<string>フランス</string>
		<key>height</key>
		<string>174cm</string>
		<key>weight</key>
		<string>58kg</string>
		<key>blood</key>
		<string>Ａ</string>
		<key>3size</key>
		<string>90/58/86</string>
	</dict>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>name_jp</key>
		<string>堕瓏</string>
		<key>name_en</key>
		<string>Duo Lon</string>
		<key>name_short</key>
		<string>Duo Lon</string>
		<key>style</key>
		<string>魔哭冥斬拳・呪怨抖勁</string>
		<key>age</key>
		<string>21</string>
		<key>birth</key>
		<string>11/3</string>
		<key>origin</key>
		<string>中国・河北省</string>
		<key>height</key>
		<string>189cm</string>
		<key>weight</key>
		<string>79kg</string>
		<key>blood</key>
		<string>不明</string>
	</dict>
	<dict>
		<key>id</key>
		<string>3</string>
		<key>name_jp</key>
		<string>シェン・ウー</string>
		<key>name_en</key>
		<string>Shen Woo</string>
		<key>name_short</key>
		<string>Shen Woo</string>
		<key>style</key>
		<string>我流（ステゴロ）</string>
		<key>age</key>
		<string>29</string>
		<key>birth</key>
		<string>10/9</string>
		<key>origin</key>
		<string>不明(上海育ち)</string>
		<key>height</key>
		<string>188cm</string>
		<key>weight</key>
		<string>97kg</string>
		<key>blood</key>
		<string>Ｂ</string>
	</dict>
	<dict>
		<key>id</key>
		<string>4</string>
		<key>name_jp</key>
		<string>草薙 京</string>
		<key>name_en</key>
		<string>Kyo Kusanagi</string>
		<key>name_short</key>
		<string>Kyo</string>
		<key>style</key>
		<string>草薙流古武術＋我流拳法</string>
		<key>age</key>
		<string>20</string>
		<key>birth</key>
		<string>12/12</string>
		<key>origin</key>
		<string>日本</string>
		<key>height</key>
		<string>181cm</string>
		<key>weight</key>
		<string>75kg</string>
		<key>blood</key>
		<string>Ｂ（ＲＨ－）</string>
	</dict>
	<dict>
		<key>id</key>
		<string>5</string>
		<key>name_jp</key>
		<string>二階堂 紅丸</string>
		<key>name_en</key>
		<string>Benimaru Nikaido</string>
		<key>name_short</key>
		<string>Benimaru</string>
		<key>style</key>
		<string>シューティング</string>
		<key>age</key>
		<string>21</string>
		<key>birth</key>
		<string>6/6</string>
		<key>origin</key>
		<string>日本</string>
		<key>height</key>
		<string>180cm</string>
		<key>weight</key>
		<string>68kg</string>
		<key>blood</key>
		<string>Ｏ</string>
	</dict>
	<dict>
		<key>id</key>
		<string>6</string>
		<key>name_jp</key>
		<string>大門 五郎</string>
		<key>name_en</key>
		<string>Goro Daimon</string>
		<key>name_short</key>
		<string>Daimon</string>
		<key>style</key>
		<string>柔道＋我流格闘術</string>
		<key>age</key>
		<string>29</string>
		<key>birth</key>
		<string>5/5</string>
		<key>origin</key>
		<string>日本</string>
		<key>height</key>
		<string>204cm</string>
		<key>weight</key>
		<string>138kg</string>
		<key>blood</key>
		<string>Ａ</string>
	</dict>
	<dict>
		<key>id</key>
		<string>7</string>
		<key>name_jp</key>
		<string>八神 庵</string>
		<key>name_en</key>
		<string>Iori Yagami</string>
		<key>name_short</key>
		<string>Iori</string>
		<key>style</key>
		<string>八神流古武術＋本能</string>
		<key>age</key>
		<string>20</string>
		<key>birth</key>
		<string>3/25</string>
		<key>origin</key>
		<string>日本</string>
		<key>height</key>
		<string>182cm</string>
		<key>weight</key>
		<string>76kg</string>
		<key>blood</key>
		<string>Ｏ</string>
	</dict>
	<dict>
		<key>id</key>
		<string>8</string>
		<key>name_jp</key>
		<string>マチュア</string>
		<key>name_en</key>
		<string>Mature</string>
		<key>name_short</key>
		<string>Mature</string>
		<key>style</key>
		<string>スピード攻撃</string>
		<key>age</key>
		<string>28</string>
		<key>birth</key>
		<string>8/4</string>
		<key>origin</key>
		<string>不明</string>
		<key>height</key>
		<string>177cm</string>
		<key>weight</key>
		<string>58kg</string>
		<key>blood</key>
		<string>Ｏ</string>
		<key>3size</key>
		<string>88/57/87</string>
	</dict>
	<dict>
		<key>id</key>
		<string>9</string>
		<key>name_jp</key>
		<string>バイス</string>
		<key>name_en</key>
		<string>Vice</string>
		<key>name_short</key>
		<string>Vice</string>
		<key>style</key>
		<string>力技</string>
		<key>age</key>
		<string>27</string>
		<key>birth</key>
		<string>11/28</string>
		<key>origin</key>
		<string>不明</string>
		<key>height</key>
		<string>178cm</string>
		<key>weight</key>
		<string>59kg</string>
		<key>blood</key>
		<string>Ａ</string>
		<key>3size</key>
		<string>90/58/88</string>
	</dict>
	<dict>
		<key>id</key>
		<string>10</string>
		<key>name_jp</key>
		<string>麻宮 アテナ</string>
		<key>name_en</key>
		<string>Athena Asamiya</string>
		<key>name_short</key>
		<string>Athena</string>
		<key>style</key>
		<string>超能力＋中国拳法</string>
		<key>age</key>
		<string>18</string>
		<key>birth</key>
		<string>3/14</string>
		<key>origin</key>
		<string>日本</string>
		<key>height</key>
		<string>163cm</string>
		<key>weight</key>
		<string>49kg</string>
		<key>blood</key>
		<string>Ｂ</string>
		<key>3size</key>
		<string>83/57/82</string>
	</dict>
	<dict>
		<key>id</key>
		<string>11</string>
		<key>name_jp</key>
		<string>椎拳崇</string>
		<key>name_en</key>
		<string>Sie Kensou</string>
		<key>name_short</key>
		<string>Kensou</string>
		<key>style</key>
		<string>超能力＋中国拳法</string>
		<key>age</key>
		<string>19</string>
		<key>birth</key>
		<string>9/23</string>
		<key>origin</key>
		<string>中国</string>
		<key>height</key>
		<string>172cm</string>
		<key>weight</key>
		<string>61kg</string>
		<key>blood</key>
		<string>Ｂ</string>
	</dict>
	<dict>
		<key>id</key>
		<string>12</string>
		<key>name_jp</key>
		<string>鎮元斎</string>
		<key>name_en</key>
		<string>Chin Gentsai</string>
		<key>name_short</key>
		<string>chin</string>
		<key>style</key>
		<string>酔拳</string>
		<key>age</key>
		<string>89</string>
		<key>birth</key>
		<string>4/27</string>
		<key>origin</key>
		<string>中国</string>
		<key>height</key>
		<string>164cm</string>
		<key>weight</key>
		<string>53kg</string>
		<key>blood</key>
		<string>Ａ</string>
	</dict>
	<dict>
		<key>id</key>
		<string>13</string>
		<key>name_jp</key>
		<string>テリー・ボガード</string>
		<key>name_en</key>
		<string>Terry Bogard</string>
		<key>name_short</key>
		<string>Terry</string>
		<key>style</key>
		<string>マーシャルアーツ</string>
		<key>age</key>
		<string>24</string>
		<key>birth</key>
		<string>3/15</string>
		<key>origin</key>
		<string>アメリカ</string>
		<key>height</key>
		<string>182cm</string>
		<key>weight</key>
		<string>83kg</string>
		<key>blood</key>
		<string>Ｏ</string>
	</dict>
	<dict>
		<key>id</key>
		<string>14</string>
		<key>name_jp</key>
		<string>アンディ・ボガード</string>
		<key>name_en</key>
		<string>Andy Bogard</string>
		<key>name_short</key>
		<string>Andy</string>
		<key>style</key>
		<string>骨法＋不知火流忍術</string>
		<key>age</key>
		<string>23</string>
		<key>birth</key>
		<string>8/16</string>
		<key>origin</key>
		<string>アメリカ</string>
		<key>height</key>
		<string>172cm</string>
		<key>weight</key>
		<string>67kg</string>
		<key>blood</key>
		<string>Ａ</string>
	</dict>
	<dict>
		<key>id</key>
		<string>15</string>
		<key>name_jp</key>
		<string>ジョー・東</string>
		<key>name_en</key>
		<string>Joe Higashi</string>
		<key>name_short</key>
		<string>Joe</string>
		<key>style</key>
		<string>ムエタイ</string>
		<key>age</key>
		<string>23</string>
		<key>birth</key>
		<string>3/29</string>
		<key>origin</key>
		<string>日本</string>
		<key>height</key>
		<string>180cm</string>
		<key>weight</key>
		<string>71kg</string>
		<key>blood</key>
		<string>ＡＢ</string>
	</dict>
	<dict>
		<key>id</key>
		<string>16</string>
		<key>name_jp</key>
		<string>キム</string>
		<key>name_en</key>
		<string>Kim</string>
		<key>name_short</key>
		<string>Kim</string>
		<key>style</key>
		<string>テコンドー</string>
		<key>age</key>
		<string>30</string>
		<key>birth</key>
		<string>12/21</string>
		<key>origin</key>
		<string>韓国</string>
		<key>height</key>
		<string>176cm</string>
		<key>weight</key>
		<string>78kg</string>
		<key>blood</key>
		<string>Ａ</string>
	</dict>
	<dict>
		<key>id</key>
		<string>17</string>
		<key>name_jp</key>
		<string>ライデン</string>
		<key>name_en</key>
		<string>Raiden</string>
		<key>name_short</key>
		<string>Raiden</string>
		<key>style</key>
		<string>レスリング</string>
		<key>age</key>
		<string>不明</string>
		<key>birth</key>
		<string>3/3</string>
		<key>origin</key>
		<string>オーストラリア</string>
		<key>height</key>
		<string>202cm</string>
		<key>weight</key>
		<string>210kg</string>
		<key>blood</key>
		<string>Ｏ</string>
	</dict>
	<dict>
		<key>id</key>
		<string>18</string>
		<key>name_jp</key>
		<string>ホア・ジャイ</string>
		<key>name_en</key>
		<string>HWA JAI</string>
		<key>name_short</key>
		<string>Hwa</string>
		<key>style</key>
		<string>ムエタイ</string>
		<key>age</key>
		<string>34</string>
		<key>birth</key>
		<string>6/24</string>
		<key>origin</key>
		<string>タイ</string>
		<key>height</key>
		<string>181cm</string>
		<key>weight</key>
		<string>70kg</string>
		<key>blood</key>
		<string>ＡＢ</string>
	</dict>
	<dict>
		<key>id</key>
		<string>19</string>
		<key>name_jp</key>
		<string>リョウ・サカザキ</string>
		<key>name_en</key>
		<string>Ryo Sakazaki</string>
		<key>name_short</key>
		<string>Ryo</string>
		<key>style</key>
		<string>極限流空手</string>
		<key>age</key>
		<string>24</string>
		<key>birth</key>
		<string>8/2</string>
		<key>origin</key>
		<string>日本</string>
		<key>height</key>
		<string>179cm</string>
		<key>weight</key>
		<string>75kg</string>
		<key>blood</key>
		<string>Ｏ</string>
	</dict>
	<dict>
		<key>id</key>
		<string>20</string>
		<key>name_jp</key>
		<string>ロバート・ガルシア</string>
		<key>name_en</key>
		<string>Robert Garcia</string>
		<key>name_short</key>
		<string>Robert</string>
		<key>style</key>
		<string>極限流空手</string>
		<key>age</key>
		<string>24</string>
		<key>birth</key>
		<string>12/25</string>
		<key>origin</key>
		<string>イタリア</string>
		<key>height</key>
		<string>180cm</string>
		<key>weight</key>
		<string>85kg</string>
		<key>blood</key>
		<string>ＡＢ</string>
	</dict>
	<dict>
		<key>id</key>
		<string>21</string>
		<key>name_jp</key>
		<string>タクマ・サカザキ</string>
		<key>name_en</key>
		<string>Takuma Sakazaki</string>
		<key>name_short</key>
		<string>Takuma</string>
		<key>style</key>
		<string>極限流空手</string>
		<key>age</key>
		<string>50</string>
		<key>birth</key>
		<string>2/4</string>
		<key>origin</key>
		<string>日本</string>
		<key>height</key>
		<string>180cm</string>
		<key>weight</key>
		<string>88kg</string>
		<key>blood</key>
		<string>Ｏ</string>
	</dict>
	<dict>
		<key>id</key>
		<string>22</string>
		<key>name_jp</key>
		<string>ラルフ・ジョーンズ</string>
		<key>name_en</key>
		<string>Ralf Jones</string>
		<key>name_short</key>
		<string>Ralf</string>
		<key>style</key>
		<string>マーシャルアーツ＋ハイデルン流暗殺術</string>
		<key>age</key>
		<string>39</string>
		<key>birth</key>
		<string>8/25</string>
		<key>origin</key>
		<string>アメリカ</string>
		<key>height</key>
		<string>188cm</string>
		<key>weight</key>
		<string>110kg</string>
		<key>blood</key>
		<string>Ａ</string>
	</dict>
	<dict>
		<key>id</key>
		<string>23</string>
		<key>name_jp</key>
		<string>クラーク・スティル</string>
		<key>name_en</key>
		<string>Clark Still</string>
		<key>name_short</key>
		<string>Clark</string>
		<key>style</key>
		<string>マーシャルアーツ＋ハイデルン流暗殺術</string>
		<key>age</key>
		<string>34</string>
		<key>birth</key>
		<string>5/7</string>
		<key>origin</key>
		<string>アメリカ</string>
		<key>height</key>
		<string>187cm</string>
		<key>weight</key>
		<string>105kg</string>
		<key>blood</key>
		<string>Ａ</string>
	</dict>
	<dict>
		<key>id</key>
		<string>24</string>
		<key>name_jp</key>
		<string>レオナ・ハイデルン</string>
		<key>name_en</key>
		<string>Leona Heidern</string>
		<key>name_short</key>
		<string>Leona</string>
		<key>style</key>
		<string>マーシャルアーツ＋ハイデルン流暗殺術</string>
		<key>age</key>
		<string>18</string>
		<key>birth</key>
		<string>1/10</string>
		<key>origin</key>
		<string>不明</string>
		<key>height</key>
		<string>176cm</string>
		<key>weight</key>
		<string>66kg</string>
		<key>blood</key>
		<string>Ｂ</string>
		<key>3size</key>
		<string>84/60/87</string>
	</dict>
	<dict>
		<key>id</key>
		<string>25</string>
		<key>name_jp</key>
		<string>不知火　舞</string>
		<key>name_en</key>
		<string>Mai Shiranui</string>
		<key>name_short</key>
		<string>Mai</string>
		<key>style</key>
		<string>不知火流忍術</string>
		<key>age</key>
		<string>21</string>
		<key>birth</key>
		<string>1/1</string>
		<key>origin</key>
		<string>日本</string>
		<key>height</key>
		<string>165cm</string>
		<key>weight</key>
		<string>48kg</string>
		<key>blood</key>
		<string>Ｂ</string>
		<key>3size</key>
		<string>87/55/91</string>
	</dict>
	<dict>
		<key>id</key>
		<string>26</string>
		<key>name_jp</key>
		<string>ユリ・サカザキ</string>
		<key>name_en</key>
		<string>Yuri Sakazaki</string>
		<key>name_short</key>
		<string>Yuri</string>
		<key>style</key>
		<string>極限流空手+自己流アレンジ</string>
		<key>age</key>
		<string>20</string>
		<key>birth</key>
		<string>12/7</string>
		<key>origin</key>
		<string>日本</string>
		<key>height</key>
		<string>168cm</string>
		<key>weight</key>
		<string>53kg</string>
		<key>blood</key>
		<string>Ａ</string>
		<key>3size</key>
		<string>85/59/86</string>
	</dict>
	<dict>
		<key>id</key>
		<string>27</string>
		<key>name_jp</key>
		<string>キング</string>
		<key>name_en</key>
		<string>King</string>
		<key>name_short</key>
		<string>King</string>
		<key>style</key>
		<string>ムエタイ</string>
		<key>age</key>
		<string>24</string>
		<key>birth</key>
		<string>4/8</string>
		<key>origin</key>
		<string>フランス</string>
		<key>height</key>
		<string>175cm</string>
		<key>weight</key>
		<string>59kg</string>
		<key>blood</key>
		<string>Ａ</string>
		<key>3size</key>
		<string>86//57/86</string>
	</dict>
	<dict>
		<key>id</key>
		<string>28</string>
		<key>name_jp</key>
		<string>サイキ</string>
		<key>name_en</key>
		<string>Saiki</string>
		<key>name_short</key>
		<string>Saiki</string>
		<key>style</key>
		<string>肉弾戦</string>
		<key>age</key>
		<string>不明</string>
		<key>birth</key>
		<string>不明</string>
		<key>origin</key>
		<string>不明</string>
		<key>height</key>
		<string>178cm</string>
		<key>weight</key>
		<string>59kg</string>
		<key>blood</key>
		<string>O</string>
	</dict>
	<dict>
		<key>id</key>
		<string>29</string>
		<key>name_jp</key>
		<string>血の螺旋に狂うアッシュ</string>
		<key>name_en</key>
		<string>Evil Ash</string>
		<key>name_short</key>
		<string>B_ash</string>
		<key>style</key>
		<string>我流</string>
		<key>age</key>
		<string>16</string>
		<key>birth</key>
		<string>2/14</string>
		<key>origin</key>
		<string>フランス育ち？</string>
		<key>height</key>
		<string>178cm</string>
		<key>weight</key>
		<string>59kg</string>
		<key>blood</key>
		<string>O</string>
		<key>3size</key>
		<string>不明</string>
	</dict>
	<dict>
		<key>id</key>
		<string>30</string>
		<key>name_jp</key>
		<string>マキシマ</string>
		<key>name_en</key>
		<string>Maxima</string>
		<key>name_short</key>
		<string>Maxima</string>
		<key>style</key>
		<string>”Ｍ式”格闘術</string>
		<key>age</key>
		<string>29</string>
		<key>birth</key>
		<string>3/2</string>
		<key>origin</key>
		<string>カナダ</string>
		<key>height</key>
		<string>204cm</string>
		<key>weight</key>
		<string>219kg</string>
		<key>blood</key>
		<string>Ａ</string>
	</dict>
	<dict>
		<key>id</key>
		<string>31</string>
		<key>name_jp</key>
		<string>Ｋ´</string>
		<key>name_en</key>
		<string>K'</string>
		<key>name_short</key>
		<string>K'</string>
		<key>style</key>
		<string>暴力</string>
		<key>age</key>
		<string>不明</string>
		<key>birth</key>
		<string>不明</string>
		<key>origin</key>
		<string>不明</string>
		<key>height</key>
		<string>183cm</string>
		<key>weight</key>
		<string>65kg</string>
		<key>blood</key>
		<string>不明</string>
	</dict>
	<dict>
		<key>id</key>
		<string>32</string>
		<key>name_jp</key>
		<string>クーラ・ダイアモンド</string>
		<key>name_en</key>
		<string>Kula Diamond</string>
		<key>name_short</key>
		<string>Kula</string>
		<key>style</key>
		<string>アンチＫ´アーツ</string>
		<key>age</key>
		<string>14</string>
		<key>birth</key>
		<string>5/29</string>
		<key>origin</key>
		<string>不明</string>
		<key>height</key>
		<string>169cm</string>
		<key>weight</key>
		<string>48kg</string>
		<key>blood</key>
		<string>不明</string>
		<key>3size</key>
		<string>81/57/83</string>
	</dict>
</array>
</plist>
